{% extends "layout.html" %}
{% load staticfiles %}

{% block content %}
    <body class="home">
        <div id="signup">
            <h1 id="member">Sign Up</h1>
            <form method="post" action="">
                {% csrf_token %}
                {% for field in form %}
                  <p style="font-size: 20px;">
                    {{ field.label_tag }}<br>
                    {{ field }}
                    {% for error in field.errors %}
                      <p style="color: red">{{ error }}</p>
                    {% endfor %}
                  </p>
                {% endfor %}
                <button class="w3-button w3-pink" type="submit">Sign up</button>
            </form>
            {{ errors }}
        </div>
    </body>
{% endblock %}

<!--
<input
    	onClick="window.location=www.google.com"
    	type="submit" 
    	value="회원가입" 
    />
-->
