{% extends "layout.html" %}


{% block content %}
    <div class = "page-header">
    </div>
    <div class = "back">
        <div class = "place-list">
            <table class = "place">
                {% for place in places %}
                    <tr class = "areatr"><td class = "areatd">{{ place }}</td></tr>
                {% endfor %}
            </table>
        </div>
        <div class = "calendar">
            <p class = "month">{{ month }}</p>
            <table class = "cal">
                <tr class="week">
                    <th>Mon</th>
                    <th>Tue</th>
                    <th>Wed</th>
                    <th>Thu</th>
                    <th>Fri</th>
                    <th>Sat</th>
                    <th>Sun</th>
                </tr>
                {% for week in daysweek %}
                    <tr>
                        {% for day in week %}
                            <td onclick="location.href = {% url 'moonji' %}" target="_blank">
                                {{ day }}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class = "timeline">
            <table class = "timel">
                <tr>
                    {% for i in times %}
                    <td>{{ i }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    {% for i in times %}
                    <td>0</td>
                    {% endfor %}
                </tr>
            </table>
        </div>
        <div class = "explain"></div>
    </div>
{% endblock %}

