{% extends "layout.html" %}

{% block content %}
<body class = "home">
    <div id = "slogan">Unified Reservation Service</div>
    <div id = "campus" onclick="location.href = {% url 'gotocampus' campus='본원' %}">본원</div>
    <div id = "campus" onclick="location.href = {% url 'gotocampus' campus='문지' %}">문지</div>
    <div id = "campus" onclick="location.href = {% url 'gotocampus' campus='홍릉' %}">홍릉</div>
    <div id = "campus" onclick="location.href = {% url 'gotocampus' campus='도곡' %}">도곡</div>
<body>
{% endblock %}

