{% load staticfiles %}

<!DOCTYPE html>
<html lang = "en">
<head>
	<meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Andika" rel="stylesheet">
	<title>Unified Reservation Service</title>
</head>
<div>
    <a class = "home-button" href = {% url 'home' %}>URS</a>
    <a class = "banner" href = {% url 'bonwon' %}>본원</a>
    <a class = "banner" href = {% url 'moonji' %}>문지</a>
    <a class = "banner" href = {% url 'hongreung' %}>홍릉</a>
    <a class = "banner" href = {% url 'dogok' %}>도곡</a>
    <a class = "button"href = {% url 'signup' %}>회원가입</a>
    <a class = "button"href = {% url 'login' %}>로그인</a>


</div>

	{% block content %}
	{% endblock %}

</html>

